<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Deck</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <% if (user.userName == '' || user.userName == null || user.userName == 'undefined') { %>
        <% user.userName = 'User'; %>
        <% } %>
    <% if (left === 1) { %>
        <h5><%= user.userName %> has <%= left %> card in the deck</h5>
    <% } else { %>
        <h5><%= user.userName %> has <%= left %> cards in the deck</h5>
    <% } %>  

    <ul class="container">
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='added-pokemon'>
                    <img src="<%= el.image %>" alt="<%= el.todo %>" class="cardImg">
                    <br>
                   
                              

                    <%= el.name %><br>
                    ______________________<br> 
                    ht:<%= el.height / 10 %>m, wt:<%= el.weight / 10 %>kg<br>
                    Type: <%= el.types[0] %><br>
                    Ability: <%= el.ability %><br>
                    Attacks: <%= el.attacks[0] %>, <%= el.attacks[1] %><br>                  
                </span>                         
                  
                <span id="delete" class="top-right" style="color: #a7a7a7;">x</span>

                                  <!-------########################## Favorite star section start ##########################-->

                                              <!----we are still within the forEach loop for the ul container-->

                <% if(el.favorite === true) {%> <!---- check if the pokemon card in an array is flagged as completed/true------->
                    <span class="fa fa-star favoriteStar favorite"></span> <!---if true, create an inline element with a class of completed (yellow star)--->
                <% }else{ %> 
                    <span class="fa fa-star favoriteStar not"></span> <!--- if it isn't true then show the favorite star WITHOUT the class of completed (blacked out star) ----->
                <% } %>   
                 
                                  <!-------########################## end of favorite star section ##########################-->
     
                
            </li>
    <% }) %>    
    </ul>
    <br>  
    <!-- <h3>Add a new Pokemon to your deck:</h3>
    <form action="/todos/createTodo" method='POST' autocomplete="off">
        <input type="text" placeholder="Pokemon Name" name='todoItem'>
        <input class="btn" type="submit">
    </form> -->
    <div class="top-right">
    <a href="/logout"><button>Logout</button></a>
    </div>

    <!-- <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul> -->

    <!-- <h2><%= user.userName %> has <%= left %> things left to do.</h2> -->

    <!-- <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form> -->


   <section>
        <h2>Search pokemon to add to collection</h2>
        <input id="poke-name" type="text" placeholder="Enter Pokemon Name" name='todoItem' method="POST">
        <input id="poke-search","save" value="Search" type="submit" class="btn">
   </section>


        <!-- <section class="controls">
            <input id="save" type="submit"  value="Save All to Collection">
        </section> -->
    
        <span class="added-pokemon">
            <h2 class="name"></h2>
            <h2 class="weight"></h2>
            <h2 class="height"></h2>
            <h3 class="ability"></h3>
            <h3 class="type"></h3>
            <h3 class="class"></h3>
            <h3 class="attacks"></h3>
            <h4 class="error"></h4>
            <img src="" alt="">
            <h3 class="description"></h3>    
        </span>



 

    <script src="js/main.js"></script>
</body>
</html>