<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Deck</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<header>
    <div class="titleBar"><img src="../assets/logo1.png" style="margin-left: 35px; top: 15px; z-index: 2;">
        <div class="top-right">
            <a href="/logout"><button>Logout</button></a>
            </div>
        </div>
</header>

<body>
        <span class="user">
    <% if (user.userName == '' || user.userName == null || user.userName == 'undefined') { %>
        <% user.userName = 'User'; %>
        <% } %>
    <% if (left === 1) { %>
        <h5><%= user.userName %> has <%= left %> card in the deck</h5>
    <% } else { %>
        <h5><%= user.userName %> has <%= left %> cards in the deck</h5>
    <% } %>  
        </span>
        <br><br><br>
    <ul class="container">
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <div class='added-pokemon'>

                  <% var colors = ['#ff0000', '#00ff00', '#0000ff','#ff3333', '#ffff00', '#ff6600']; %>
                  <% var random_color = colors[Math.floor(Math.random() * colors.length)]; %>
                                 
                    <img src="<%= el.image %>" alt="<%= el.todo %>" class="cardImg" background="<%= el.random_color %>"   >                
                    <span class="pokeName">
                        <% if(el?.name){ %>
                            <%= el.name[0].toUpperCase()+el.name.slice(1)%> %>
                        <%}else{%>
                            <%=el.todo%>
                            <%}%>                    
                    </span>                    
         
                    <span class="pokeStats">Height: <%= el.height/10 %>m / Weight: <%= el.weight/10 %>kg</span><br>

                    <span class="pokeTypes">Type: <%= el.types.length == 2 ? el.types.map(el => el[0].toUpperCase()+el.slice(1)).join(' / ') : el.types[0][0].toUpperCase()+el.types[0].slice(1) %></span><br>

                    <span class="pokeAbility">Ability: <%= el.ability[0][0].toUpperCase()+el.ability[0].slice(1) %></span><br>

                    <span class="pokeAttacks">Attacks: <%= el.attacks[0][0].toUpperCase()+el.attacks[0].slice(1) %>, <%= el.attacks[1][0].toUpperCase()+el.attacks[1].slice(1) %></span><br>

                    <p class="description">
                        <%= el.description %> 
                    </p>                  
                </div>                         
                  
                <span id="delete" class="top-right" style="color: #a7a7a7;">x</span>

                                  <!-------########################## Favorite star section start ##########################-->

                                              <!----we are still within the forEach loop for the ul container-->

                <% if(el.favorite === true) {%> <!---- check if the pokemon card in an array is flagged as completed/true------->
                    <span class="fa fa-star favoriteStar favorite"></span> <!---if true, create an inline element with a class of completed (yellow star)--->
                <% }else{ %> 
                    <span class="fa fa-star favoriteStar not"></span> <!--- if it isn't true then show the favorite star WITHOUT the class of completed (blacked out star) ----->
                <% } %>   
                 
                                  <!-------########################## end of favorite star section ##########################-->
 
                
            </li>
    <% }) %>    
    </ul>
    <br>  
    <!-- <h3>Add a new Pokemon to your deck:</h3>
    <form action="/todos/createTodo" method='POST' autocomplete="off">
        <input type="text" placeholder="Pokemon Name" name='todoItem'>
        <input class="btn" type="submit">
    </form> -->
  

    <!-- <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul> -->

    <!-- <h2><%= user.userName %> has <%= left %> things left to do.</h2> -->

    <!-- <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form> -->


   <section>
        <h2>Search pokemon to add to collection</h2>
        <input id="poke-name" type="text" placeholder="Enter Pokemon Name" name='todoItem' method="POST">
        <input id="poke-search","save" value="Search" type="submit" class="btn">
   </section>


        <!-- <section class="controls">
            <input id="save" type="submit"  value="Save All to Collection">
        </section> -->
    
        <span class="added-pokemon">
            <h2 class="name"></h2>
            <h2 class="weight"></h2>
            <h2 class="height"></h2>
            <h3 class="ability"></h3>
            <h3 class="type"></h3>
            <h3 class="class"></h3>
            <h3 class="attacks"></h3>
            <h4 class="error"></h4>
            <img src="" alt="">
            <h3 class="description"></h3>    
        </span>



 
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>